/* start variables */
:root {
  --main-color: ;
}
/* end variables */

/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Red Hat Display', sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* End Global Rules */
body {
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 453px;
  background-color: white;
  border-radius:15px 15px 15px 15px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
main .cover img {
  width: 100%;
  border-radius:15px 15px 0 0 ;
}
@media (max-width:768px) {
  body {
    background-image: url(../images/pattern-background-mobile.svg);
  }
  main {
    margin: 50px 20px;
    max-width: 350px;
  }
  main .cover img {
    max-width: 100%;
  }
}

main .content {
  padding:0 60px 0px;
}
@media (max-width:768px) {
  main .content {
    padding:0 20px 0px;
  }
}
main .content .summary h1 {
  font-weight: 900;
  color: hsl(220deg 52% 22%);
  margin: 30px 0 15px ;
}
@media (max-width:768px) {
  main .content .summary h1 {
    font-size: 25px;
  }
}
main .content .summary p {
  color: hsl(224, 23%, 55%);
  line-height: 1.5;
}
@media (max-width:768px) {
  main .content .summary p {
    font-size: 15px;
  }
}
main .content .plan {
  background-color: hsl(230deg 75% 98%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  margin: 30px 0;
}
@media (max-width:768px) {
  main .content .plan {
    padding: 15px 10px;
  }
}
main .content .plan .annual {
  display: flex;
  align-items: center;
}
main .content .plan .annual .text {
  margin-left: 20px;
}
main .content .plan .annual h4 {  
  color: hsl(220deg 52% 22%);
}
main .content .plan .annual p{
  color: hsl(225deg 18% 59%);
  font-size: 15px;
}
main .content .plan a{  
  color: hsl(246deg 68% 53%);
  transition-duration: .2s;
}
main .content .plan a:hover{
  color: hsl(244deg 56% 70%);
  text-decoration: none;
}
main .content .links a{
  display: block;
  text-decoration: none;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: 700;
}
main .content .links a:first-child {
  color: white;
  background-color: hsl(245deg 75% 52%);
  transition-duration: .2s;
  box-shadow: rgba(0, 0, 0, 0.158) 0px 14px 28px, rgba(0, 0, 0, 0.11) 0px 10px 10px;
}
main .content .links a:first-child:hover {
  background-color: hsl(245deg 83% 68%);
}
main .content .links a:last-child {
  color: hsl(225deg 18% 59%);
  margin-top: 10px;
  margin-bottom: 20px;
  transition-duration: .2s;
}
main .content .links a:last-child:hover {
  color: hsl(228deg 25% 24%);
}
